@import url('https://fonts.googleapis.com/css?family=Poiret+One');

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	/*background-image: url('../images/bg.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;*/
	overflow: -moz-scrollbars-vertical; /*scrollbar always visible*/
 	overflow-y: scroll;
	font-family: 'Poiret One', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	position: relative;
	min-height: 100vh;
	padding-bottom: 2.5vh;
	color: #fff;
	z-index: -11;
}

/* navigation bar styles */
header {
	height: 18vh;
	display: flex;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 !important;
}

a {
	text-decoration: none;
	color: #fff;
}

h1, h2, p {
	margin-bottom: 20px;
}

p {
	margin-top: 20px;
}

ul {
	list-style-type: none;
}

#logo-wrap {
	width: 20%;
	position: relative;
}

#logo {
	background-image: url('../images/logo-white.png');
	height: 15vh;
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
}

#nav-list-wrap {
	position: relative;
	white-space: nowrap;
}

#nav-list-wrap::after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	background: linear-gradient(to left, #000 70%, transparent);
	height: 100%;
	width: 100%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	display: inline-block;
}

#nav-list {
	margin-right: 20px;
}

.nav-li {
	display: inline-block;
	position: relative;
}

.nav-li:hover {
	font-weight: bold;
}

.nav-li:hover:after,
.active:after {
	content: '';
	position: absolute;
	height: 4px;
	background: radial-gradient(#fff 20%, transparent 80%);
	bottom: -2px;
	left: 0;
	width: 100%;
	opacity: 0;
	animation: active .5s ease forwards;
}

.nav-li:hover .drop-list {
	/*display: block;*/
	/*opacity: 1;*/
	animation: drop-anim .5s ease both;
}

.active {
	font-weight: bold;
}

@keyframes active {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.nav-button {
	padding: 15px;
	line-height: 8vh;
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
	position: relative;
}

/* dropdown list animation */
@keyframes drop-anim {
	0% {opacity: 0; margin-top: 12px;}
	100% {opacity: 1; margin-top: 0;}
}

/* dropdown list */
.drop-list {
	border-top: 2px solid #860186;
	margin-top: 0;
	/*display: none;*/
	opacity: 0;
	position: absolute;
	background-color: #440144;
	z-index: 10;
	font-size: 1rem;
	transition: .5s;
}

.drop-button {
	color: #fff;
	font-size: 0.8em;
	padding: 10px 15px;
	display: block;
	font-weight: bold;
}

.drop-button:hover {
	background-color: #6d026d;
	transition: .3s;
}

/* dropdown-list end */

/* solial network icon styles */
.icon-button {
	margin: 0 0 0 10px;
	font-size: 16px;
}

.icon-button:hover {
	color: #ababab;
	transition: .5s;
}
/* navigation bar styles end*/

#content {
	margin: auto;
	/*display: none;*/
	opacity: 0;
}

.main-inner {
	margin: auto;
	font-size: 1.1em;
	background-color: #000;
	padding: 40px;
	min-height: 75vh;
	margin-bottom: 20px;
	/*box-shadow: 0 0 10px #000;*/
}

/* loading animation styles */
#load {
	position: fixed;
	height: 2vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.image-wrap {
	height: 200px;
	background-repeat: no-repeat;
	background-image: url('../images/sania_about.jpg');
	background-size: cover;
	background-position: 0 25%;
	margin-bottom: 4vmin;
}

.pgraph {
	font-size: 0.9em;
}	

/* front-page */
#slider-data {
	display: none;
	width: 100%;
	position: fixed;
	bottom: 8%;
	left: 0;
	z-index: 11;
}

#slider-title, #slider-desc {
	line-height: 8vh;
	padding-left: 20%;
	background-color: #000;
	padding-right: 5%;
	margin-top: 20px;
	display: table;
}

#slider-title {
	position: relative;
	display: inline-flex;
	align-items: center;
	align-content: center;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
}
/* /front-page */

footer {
	position: absolute; /*always bottom footer*/
	bottom: 0;
	width: 100%;
	background-color: #000;
	height: 3.7vh;
	color: #fff;
	justify-content: space-between;
	align-items: center;
	font-size: 0.8vmax;
	display: flex;
}

/* gallery styles */
.gallery {
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-evenly;*/
}

.gallery-img-wrap {
	border: 1px solid #000;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	transition: .5s;
	/*display: flex;*/
	/*justify-content: center;
	align-items: center;*/
	/*flex: 1 auto;*/
}

.img-wrap {
	height: 230px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.img-wrap img {
	width: 100%;
}

.gallery-img-wrap img, .courses-img-wrap img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	transition: .5s;
}

.gallery-img-wrap {
	height: 200px;
	width: 25%;
}

.gallery-img-wrap:hover img {
	height: 130%;
}

.gallery-img-wrap:hover:before {
	content: '';
	z-index: 5;
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	background: #fff;
	opacity: .3;
}
/* /gallery styles */

button.registration {
	color: #000;
	background: #fff;
	padding: 13px 20px;
	font-weight: bold;
	transition: .2s ease-out;
}

button.registration:hover {
	background: #440144;
	color: #fff;
}

button {
	outline: none;
	cursor: pointer;
	border: none;
}

/* courses page lists */
.icon-ok, .icon-present {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	width: 25px;
	height: 20px;
	vertical-align: top;
}

.icon-ok {
	background: url('../images/ok.png');
}

.icon-present {
	background: url('../images/present.png');
}

.course-list {
	margin-bottom: 20px;
}

.course-name {
	display: inline-flex;
}

.course-name button {
	color: #fff;
	font-weight: bold;
	font-size: 0.8em;
	border-radius: 3px;
	padding: 6px 15px;
	background: none;
	transition: .4s;
	margin-bottom: 8px;
}

.course-name:hover button, .course-name:focus button, .course-name-active button {
	color: #000;
	background: #fff;
}

.course-add-info {
	display: inline-block;
	vertical-align: top;
	width: 40%;
}

.courses-img-wrap {
	height: 250px;
	margin: 0 20px 20px 0;
}

.courses-img-wrap img {
	width: 100%;
}

.course-desc {
	display: inline-block;
	width: 55%;
}

.course-desc-small {
	font-style: italic;
	font-family: sans-serif;
	font-size: 0.8em;
	margin-top: 20px;
}

/* registration form */
#form-bg {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	/*background: rgba(255, 255, 255, 0.1);*/
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

#form-container {
	/*background: #440144;*/
	/*border: 3px solid #fff;*/
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 400px;
	width: 350px;
	color: #fff;
}

#form-container form {
	font-size: 1.2em;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#icon-close {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#icon-close:before, #icon-close:after {
	content: '';
	display: block;
	height: 4px;
	width: 30px;
	background: #fff;
	position: absolute;
	border-radius: 20px;
}

#icon-close:before {
	transform: rotate(-45deg);
}

#icon-close:after {
	transform: rotate(45deg);
}

#form-container form label, #form-container form input {
	display: block;
	margin-bottom: 5px;
	position: relative;
	width: 300px;
	transition: .2s;
}

#form-container form label {
	cursor: pointer;
}

#form-container form label:hover #form-container form input,
#form-container form input:hover {
	box-shadow: 0 0 20px #fff;
}

#form-container form input:focus {
	transform: scale(1.1);
}

#form-container form input {
	margin-bottom: 30px;
	height: 35px;
	border: 1px solid #80008a;
	outline: none;
	
}

#form-container button {
	background: #440144;
	color: #fff;
	outline: none;
	border: none;
	padding: 15px 40px;
}

#form-container button:hover {
	background: #6d026d;
}

/* import */
input {
	border-color: #E9E9E9;
	font-size: 16px;
	line-height: 2;
	text-indent: 15px;
	background: #440144;
	color: #fff;
}

/*input:placeholder-shown,
input::-webkit-input-placeholder {
	color: #949494 !important;
	text-indent: 15px;
}*/
/* /registration form */

#nav-mobile {
	display: none;
}

#control-left-arrow,
#control-right-arrow {
	height: 30px;
	width: 60px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 8vh;
}

#control-left-arrow > div,
#control-right-arrow > div {
	background: #595959;
	width: 40px;
	height: 2px;
	position: relative;
}

#control-left-arrow:hover div,
#control-left-arrow:focus div {
	background: linear-gradient(to left, transparent, #fff 95%);
}

#control-left-arrow:focus,
#control-right-arrow:focus {
	outline: none;
}

#control-left-arrow:hover div:after,
#control-left-arrow:focus div:after,
#control-right-arrow:hover div:after,
#control-right-arrow:focus div:after {
	border-right: 2.5px solid #fff;
	border-bottom: 2.5px solid #fff;
}

#control-left-arrow > div:after,
#control-right-arrow > div:after {
	content: '';
	position: absolute;
	display: block;
	height: 12px;
	width: 12px;
	border-right: 2.5px solid #595959;
	border-bottom: 2.5px solid #595959;
}

#control-left-arrow > div:after {
	transform: rotate(135deg) translate(-35%, 25%);
}

#control-right-arrow > div:after {
	transform: rotate(-45deg) translate(30%, -33%);
	right: 0;
}



#control-right-arrow:hover div,
#control-right-arrow:focus div {
	background: linear-gradient(to right, transparent, #fff 95%);
}

#slider-controls {
	display: flex;
	/*flex-wrap: wrap;*/
	align-items: center;
	margin-right: 20px;
}

#slider-controls #arrows-divider {
	height: 7vh;
	width: 2px;
	background: radial-gradient(circle, #fff 20%, transparent);
	margin: 0 5px;
}

	#slider {
    position: fixed;
    z-index: -10;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	}

	#slider .slider-image {
	    transition: opacity 1.5s;
	    opacity:0;
	    position: absolute;
	    height: 100%;
	    width: 100%;
	    object-fit: cover;
		object-position: 50% 50%;
	}

#slider-author, #slider-desc-text {
	white-space: nowrap;
	display: inline-block;
}


/* smaller screens/mobile devices support */
@media only screen and (max-width: 768px) {
	html {
		font-size: 2vmax;
	}

	header {
		height: 45px;
	}

	nav {
		position: fixed;
		display: block;
		width: 100%;
		height: 45px;
		z-index: 100;
		background: #000;
	}

	main {
		height: 100%;
	}

	.main-inner {
		padding: 1px 20px;
		margin: 0;
		min-height: 100%;
	}

	#nav-mobile {
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		height: 100%;
		width: 9vmax;
		right: 2vw;
		background: transparent;
		z-index: 101;
	}

	#nav-mobile div {
		width: 55%;
		height: 4px;
		margin-bottom: 0.5vmax;
		margin-top: 0.5vmax;
		background: #fff;
		border-radius: 100px;
	}

	#nav-list-wrap {
		background: #000;
		width: 100%;
		top: 45px;
		padding-left: 10px;
		padding-bottom: 10px;
		display: none;
		z-index: 99;
	}
	
	#nav-icons {
		position: absolute;
		right: 2vmax;
		bottom: 4vmax;
		transform: scale(1.6);
		/*-ms-zoom: 1.6;*/
		text-align: center;
	}

	#nav-icons li a {
		display: block;
		padding: 5px 5px;
		margin: 0;
	}

	#logo-wrap {
		display: none;
	}

	#nav-list {
		margin: 0;
		width: 100%;
	}

	a.nav-button {
		padding: 0 8px;
		display: block;
		font-size: 2vmax;
		line-height: 8vmin;
	}

	.nav-li {
		display: block;
	}

	.img-wrap {
		height: initial;
	}

	.gallery-img-wrap {
		width: 33%;
	}

	#slider-title {
		font-size: 0.9em;
	}

	#slider-title, #slider-desc {
		padding-left: 15px;
	}

	#slider-controls:after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
	}

	.bold {
		font-weight: bold;
	}

	footer {
		font-size: 0.8em;
		padding: 0 20%;
		height: 3vmax;
	}
}

@media only screen and (max-width: 450px) {
	.gallery-img-wrap {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	nav {
		padding: 0 20px;
	}

	#content {
		width: 80%;
	}

	#logo-wrap {
		left: 10%;
	}

	#nav-list-wrap {
		padding-right: 10%;
		display: block !important;
	}

	a.nav-button {
		padding: 0 10px;
	}

	footer {
		padding: 0 10%;
	}
}

@media only screen and (min-width: 992px) {
	nav {
		padding: 0 50px;
	}
}

@media only screen and (min-width: 1300px) {
	nav {
		padding: 0 60px;
	}

	#content {
		width: 60%;
	}

	#logo-wrap {
		left: 20%;
	}

	#nav-list-wrap {
		padding-right: 20%;
	}

	footer {
		padding: 0 20%;
	}
}
